.minecraft/dumps/*
.minecraft/backups/*
.minecraft/crash-reports/*
.minecraft/defaultconfigs/*
.minecraft/journeymap/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/options.txt
.minecraft/patchouli_data.json
.minecraft/usercache.json
.minecraft/usernamecache.json
instance.cfg
mmc-pack.json
instance.cfg
.minecraft/backups/2022-10-31_19-26-33_Test.zip
.minecraft/backups/2022-10-31_19-26-33_Test.zip
.minecraft/config/configured-client.toml
.minecraft/config/jei-client.toml
.minecraft/config/jei/bookmarks.ini
.minecraft/config/jei/ingredient-list-mod-sort-order.ini
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/0/3,0.png
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/1/-5,-1.png
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/1/-5,-2.png
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/1/2,-1.png
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/1/cache/r.-5.-1.mca
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/overworld/1/cache/r.-5.-2.mca
*.mca
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5E-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5E-0EA5D.zip
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/waypoints/pawn_208-70-198.json
.minecraft/journeymap/data/mp/WingMingCraft_aadd042d~d67c~4cb6~995f~1b0a1db5c55d/waypoints/Wingming_1623-123-540.json
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/biome_map.txt
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/block_map.txt
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/dimensions.txt
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5B-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5B-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5B-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5C-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5C-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5C-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5D-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5D-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5E-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5E-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA5F-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA60-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA60-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA60-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA60-0EA61.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA61-0EA5D.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA61-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA61-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA61-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA61-0EA61.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA50.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA51.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA62-0EA61.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA63-0EA50.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA63-0EA51.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA63-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA63-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA63-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA64-0EA5E.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA64-0EA5F.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/0EA64-0EA60.zip
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/dimension.regions
.minecraft/local/ftbchunks/data/177f0744-fd9f-4b10-abfe-6a089ac41dc7/minecraft_overworld/waypoints.json
