.minecraft/dumps/
.minecraft/backups/
.minecraft/crash-reports/
.minecraft/defaultconfigs/
.minecraft/journeymap/
.minecraft/local/
.minecraft/logs/
.minecraft/saves/
.minecraft/screenshots/
.minecraft/options.txt
.minecraft/patchouli_data.json
.minecraft/usercache.json
.minecraft/usernamecache.json
instance.cfg
mmc-pack.json